<h1>Welcome to Squeaker</h1>
<p>hello <%= @logged_in_user.username %></p>

<% form_for(@message) do |form| %>
	<%= form.label :content, "Message" %>
	<%= form.text_field :content %>
	<%= form.hidden_field :user_id %>
	<%= form.submit "Post" %>
<% end%>

<% form_tag(search_path :method => "get") do %>
	<%= label_tag :query, "Find users:" %>
	<%= text_field_tag :query %>
	<%= submit_tag "Search" %>
<% end %>

<% if @logged_in_user.followed.count > 0 %>
	<h2>People I follow</h2>
<% end %>

<table>
	<% @logged_in_user.followed.each do |followed| %>
		<tr><td><%= followed.username %></td></tr>
	<% end %>
</table>

<h2>Messages</h2>
<table>
	<% @feed.each do |message| %>
		<tr><td><%= message.user.username%>:</td><td><%=h message.content %></td></tr>
	<% end %>
</table>

<%= render :partial => 'messages' %>