<p>Squeaker is all about sharing every little inane thought you have with the world. Don't be shy!</p>
<% form_for(@message) do |form| %>
	<%= form.label :content, "Squeak something!" %>
	<%= form.text_field :content %>
	<%= form.hidden_field :user_id %>
	<%= form.submit "Squeak" %>
<% end %>

<% if @logged_in_user.followed_users.count > 0 %>
	<h2>People I follow</h2>
	<%= user_list(@logged_in_user.followed_users, 'followed_users') %>
<% end %>

<% if @feed.any? %>
  <h2>Messages</h2>
  <table>
  	<% @feed.each do |message| %>
  		<tr><td><%= link_to message.user.username, user_path(message.user.id)%>:</td><td><%=h message.content %></td></tr>
  	<% end %>
  </table>
<% end %>