<h1>Welcome to Squeaker</h1>
<p>hello <%= @logged_in_user.username %></p>

<% form_for(@message) do |form| %>
	<%= form.label :content, "Message" %>
	<%= form.text_field :content %>
	<%= form.hidden_field :user_id %>
	<%= form.submit "Post" %>
<% end%>

<% form_tag(search_path :method => "get") do %>
	<%= label_tag :query, "Search:" %>
	<%= text_field_tag :query %>
	<%= submit_tag "Search" %>
<% end %>


<table>
	<% @messages.each do |message| %>
		<tr><td><%= @logged_in_user.username%>:</td><td><%=h message.content %></td></tr>
	<% end %>
</table>
