<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Squeaker</title>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header">
        <div id="logo">
          <h1><%= link_to "Squeaker", root_path %></h1>
        </div>

        <div id="header-content">
          <ul>
            <li>
              <% unless @logged_in_user.unknown? %>
                Hello <%= link_to @logged_in_user.username, user_path(@logged_in_user.username) %>
                <%= button_to "Log Out", user_session_path, :method => :delete %>
              <% else %>
                Hello stranger!
                Why not <%= link_to "log in", new_user_session_path %> or perhaps <%= link_to "create an account", new_user_path %>?
              <% end %>
            </li>
            <li>
              <%= form_tag(search_path :method => "get") do %>
              	<%= label_tag :query, "Find users:" %>
              	<%= text_field_tag :query %>
              	<%= submit_tag "Search" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="main">
      <% if flash.key?(:error) %>
        <p style="background-color:red; color: white;"><%= flash[:error] %></p>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
      <a href="#">About</a></li>
      <a href="#">Contact Us</a></li>
      <a href="#">Jobs</a></li>
    </div>
  </body>
</html>
